# Python Built-in Functions

In [1]:
# 1. type(): check the type of a variable
print("Type of 10:", type(10))

Type of 10: <class 'int'>

In [2]:
# 2. len(): get the length
print("Length of 'hello':", len("hello"))

Length of 'hello': 5

In [3]:
# 3. sum(), max(), min(): math functions for sequences
numbers = [1, 2, 3, 4]
print("Sum:", sum(numbers))
print("Max:", max(numbers))
print("Min:", min(numbers))

Sum: 10
Max: 4
Min: 1

In [4]:
# 4. round(): round a float
print("Round 3.14159 to 2 decimals:", round(3.14159, 2))

Round 3.14159 to 2 decimals: 3.14

In [5]:
# 5. abs(): absolute value
print("abs(-7):", abs(-7))

abs(-7): 7

In [6]:
# 6. sorted(): returns sorted list
print("Sorted list:", sorted([4, 1, 3]))

Sorted list: [1, 3, 4]

In [7]:
# 7. reversed(): returns reversed iterator
print("Reversed list:", list(reversed([1, 2, 3])))

Reversed list: [3, 2, 1]

In [8]:
# 8. range(): create a sequence of numbers
print("Range from 0 to 4:", list(range(5)))

Range from 0 to 4: [0, 1, 2, 3, 4]

In [17]:
# 9. input(): take user input (commented to avoid blocking)
name = input("Enter your name: ")
print("Hello", name)

Enter your name: m
Hello m

In [10]:
# 10. int(), float(), str(): type casting
print("int('5') + 1 =", int("5") + 1)
print("str(123) + 'abc' =", str(123) + "abc")

int('5') + 1 = 6
str(123) + 'abc' = 123abc

In [18]:
# 11. isinstance(): check variable type
print("Is 5 an int?", isinstance(5, int))

Is 5 an int? True

In [12]:
# 12. eval(): evaluate string as Python expression
expr = "2 + 3 * 5"
print("eval('2 + 3 * 5') =", eval(expr))

eval('2 + 3 * 5') = 17

In [19]:
# 13. help(): get help about a function (commented)
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [20]:
# 14. all(), any(): check conditions in iterable
print("all True:", all([True, True, 1]))
print("any True:", any([False, 0, "hi"]))

all True: True
any True: True

In [15]:
# 15. zip(): combine multiple lists
a = [1, 2]
b = ["x", "y"]
print("Zipped:", list(zip(a, b)))

Zipped: [(1, 'x'), (2, 'y')]

In [16]:
# 16. enumerate(): get index and value while looping
for i, val in enumerate(["a", "b", "c"]):
    print(f"Index {i} -> {val}")

Index 0 -> a
Index 1 -> b
Index 2 -> c