In [2]:
# 1. Integer (int)
a = 10
print("Integer:", a, "| Type:", type(a))

Integer: 10 | Type: <class 'int'>

In [3]:
# 2. Float (float)
b = 3.14
print("Float:", b, "| Type:", type(b))

Float: 3.14 | Type: <class 'float'>

In [4]:
# 3. String (str)
c = "Hello"
print("String:", c, "| Type:", type(c))

String: Hello | Type: <class 'str'>

In [5]:
# 4. Boolean (bool)
d = True
print("Boolean:", d, "| Type:", type(d))

Boolean: True | Type: <class 'bool'>

In [6]:
# 5. List (ordered, mutable)
e = [1, 2, 3, "apple"]
print("List:", e, "| Type:", type(e))

List: [1, 2, 3, 'apple'] | Type: <class 'list'>

In [7]:
# 6. Tuple (ordered, immutable)
f = (1, 2, 3)
print("Tuple:", f, "| Type:", type(f))

Tuple: (1, 2, 3) | Type: <class 'tuple'>

In [8]:
# 7. Set (unordered, unique values)
g = {1, 2, 2, 3}
print("Set:", g, "| Type:", type(g))

Set: {1, 2, 3} | Type: <class 'set'>

In [9]:
# 8. Dictionary (key-value pairs)
h = {"name": "Alice", "age": 30}
print("Dictionary:", h, "| Type:", type(h))

Dictionary: {'name': 'Alice', 'age': 30} | Type: <class 'dict'>

In [10]:
# 9. NoneType (null value)
i = None
print("NoneType:", i, "| Type:", type(i))

NoneType: None | Type: <class 'NoneType'>

In [11]:
# Extra: Complex Number
j = 2 + 3j
print("Complex Number:", j, "| Type:", type(j))

Complex Number: (2+3j) | Type: <class 'complex'>

In [12]:
# Python Data Types and Type Conversion
print("int to float:", float(a))     # 10 -> 10.0

# float to int
print("float to int:", int(b))       # 3.5 -> 3 (truncates)

# int to string
print("int to str:", str(a))         # 10 -> "10"

int to float: 10.0
float to int: 3
int to str: 10