In [1]:
# Python Dictionary (dict) - Create, Access, Update, Methods

# 1. Creating a dictionary
person = {"name": "Ali", "age": 30, "city": "Cairo"}
print("Person:", person)

Person: {'name': 'Ali', 'age': 30, 'city': 'Cairo'}

In [2]:
# 2. Accessing values
print("Name:", person["name"])
print("City:", person.get("city"))  # safer, no error if key not found

Name: Ali
City: Cairo

In [3]:
# 3. Adding or updating values
person["age"] = 31        # update
person["job"] = "Engineer"  # add new
print("Updated person:", person)

Updated person: {'name': 'Ali', 'age': 31, 'city': 'Cairo', 'job': 'Engineer'}

In [ ]:
# 4. Removing items
person.pop("city")
print("After pop:", person)

del person["job"]
print("After del:", person)

In [ ]:
# 5. Dictionary length
print("Number of items:", len(person))

In [4]:
# 6. Loop through dictionary
for key, value in person.items():
    print(f"{key} → {value}")

name → Ali
age → 31
city → Cairo
job → Engineer

In [5]:
# 7. Keys, Values, Items
print("Keys:", person.keys())
print("Values:", person.values())
print("Items:", person.items())

Keys: dict_keys(['name', 'age', 'city', 'job'])
Values: dict_values(['Ali', 31, 'Cairo', 'Engineer'])
Items: dict_items([('name', 'Ali'), ('age', 31), ('city', 'Cairo'), ('job', 'Engineer')])

In [6]:
# 8. Nested dictionary
student = {
    "name": "Sara",
    "grades": {"math": 90, "science": 85}
}
print("Math grade:", student["grades"]["math"])

Math grade: 90

In [7]:
# 9. Copying dictionary
copy_dict = person.copy()
print("Copied dict:", copy_dict)

Copied dict: {'name': 'Ali', 'age': 31, 'city': 'Cairo', 'job': 'Engineer'}

In [8]:
# 10. Clear dictionary
copy_dict.clear()
print("After clear:", copy_dict)

After clear: {}