# Python for Loops - Examples and Usage

In [1]:
# 1. Basic for loop with list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [2]:
# 2. Loop through a string
for char in "hello":
    print("Char:", char)

Char: h
Char: e
Char: l
Char: l
Char: o

In [3]:
# 3. Using range()
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [4]:
# 4. range(start, stop, step)
for i in range(1, 10, 2):
    print("Odd number:", i)

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [5]:
# 5. Loop with else
for i in range(3):
    print("Looping", i)
else:
    print("Finished loop")

Looping 0
Looping 1
Looping 2
Finished loop

In [6]:
# 6. Nested for loops
for i in range(2):
    for j in range(3):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2

In [7]:
# 7. Using break in for loop
for i in range(5):
    if i == 3:
        break
    print("i =", i)

i = 0
i = 1
i = 2

In [8]:
# 8. Using continue in for loop
for i in range(5):
    if i == 2:
        continue
    print("i =", i)

i = 0
i = 1
i = 3
i = 4

In [9]:
# 9. Looping with enumerate()
names = ["Ali", "Sara", "Omar"]
for index, name in enumerate(names):
    print(f"{index}: {name}")

0: Ali
1: Sara
2: Omar

In [10]:
# 10. Looping with zip()
ages = [20, 25, 30]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Ali is 20 years old
Sara is 25 years old
Omar is 30 years old

In [12]:
# 11. for and pass
for i in range(10):
    pass