# Python map, filter, apply, file handling, and re (regex)

In [1]:
# 1. map(): apply a function to all elements
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print("Squares using map:", squares)

Squares using map: [1, 4, 9, 16]

In [2]:
# 2. filter(): filter elements based on a condition
even = list(filter(lambda x: x % 2 == 0, nums))
print("Even numbers using filter:", even)

Even numbers using filter: [2, 4]

In [3]:
# 3. apply(): used with pandas to apply function to Series or DataFrame
import pandas as pd

df = pd.DataFrame({
    "Name": ["Ali", "Sara", "Omar"],
    "Score": [80, 90, 70]
})

# Apply function to 'Score' column
df["Passed"] = df["Score"].apply(lambda x: "Yes" if x >= 75 else "No")
print("\nDataFrame with apply:\n", df)

DataFrame with apply:
    Name  Score Passed
0   Ali     80    Yes
1  Sara     90    Yes
2  Omar     70     No

In [4]:
# 4. File handling: open, read, close
# Writing a sample file
with open("sample.txt", "w") as f:
    f.write("Hello\nWelcome to Python\n123 apple")

# Reading the file
with open("sample.txt", "r") as f:
    content = f.read()
    print("\nFile content:\n", content)

File content:
 Hello
Welcome to Python
123 apple

In [5]:
# 5. re module (regex) - extract, search, and replace
import re

text = "My email is test123@example.com and phone is 010-123-4567."

# Find email
email = re.findall(r"\b[\w.-]+@[\w.-]+\.\w+\b", text)
print("\nExtracted email:", email)

Extracted email: ['test123@example.com']

In [6]:
# Search for phone pattern
phone = re.search(r"\d{3}-\d{3}-\d{4}", text)
if phone:
    print("Phone found:", phone.group())

Phone found: 010-123-4567

In [7]:
# Replace email with hidden
hidden = re.sub(r"[\w.-]+@[\w.-]+\.\w+", "[hidden email]", text)
print("After replace:\n", hidden)

After replace:
 My email is [hidden email] and phone is 010-123-4567.