In [8]:
import pandas as pd
import numpy as np

# 1. Create DataFrame
df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'Omar', 'Laila', 'John'],
    'Age': [25, 30, 22, np.nan, 28],
    'City': ['Cairo', 'Alex', 'Giza', 'Cairo', 'Alex'],
    'Score': [88, 92, np.nan, 70, 85]
})
print("1. Original DataFrame:\n", df, "\n")

# 2. View head
print("2. Head:\n", df.head(), "\n")

1. Original DataFrame:
     Name   Age   City  Score
0    Ali  25.0  Cairo   88.0
1   Sara  30.0   Alex   92.0
2   Omar  22.0   Giza    NaN
3  Laila   NaN  Cairo   70.0
4   John  28.0   Alex   85.0

2. Head:
     Name   Age   City  Score
0    Ali  25.0  Cairo   88.0
1   Sara  30.0   Alex   92.0
2   Omar  22.0   Giza    NaN
3  Laila   NaN  Cairo   70.0
4   John  28.0   Alex   85.0

In [9]:
df.sample()

   Name   Age  City  Score
4  John  28.0  Alex   85.0

In [10]:
df.tail()

    Name   Age   City  Score
0    Ali  25.0  Cairo   88.0
1   Sara  30.0   Alex   92.0
2   Omar  22.0   Giza    NaN
3  Laila   NaN  Cairo   70.0
4   John  28.0   Alex   85.0

In [11]:
# 3. Info
print("3. Info:")
df.info()
print("\n")

3. Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     4 non-null      float64
 2   City    5 non-null      object
 3   Score   4 non-null      float64
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes

In [12]:
# 4. Describe
print("4. Describe:\n", df.describe(), "\n")

4. Describe:
          Age      Score
count   4.00   4.000000
mean   26.25  83.750000
std     3.50   9.604686
min    22.00  70.000000
25%    24.25  81.250000
50%    26.50  86.500000
75%    28.50  89.000000
max    30.00  92.000000

In [13]:
# 5. Select Column
print("5. Column 'Name':\n", df["Name"], "\n")

5. Column 'Name':
 0      Ali
1     Sara
2     Omar
3    Laila
4     John
Name: Name, dtype: object

In [14]:
# 6. Select Row
print("6. Row index 1:\n", df.iloc[1], "\n")

6. Row index 1:
 Name     Sara
Age      30.0
City     Alex
Score    92.0
Name: 1, dtype: object

In [15]:
# 7. Filter Rows
print("7. Age > 25:\n", df[df["Age"] > 25], "\n")

7. Age > 25:
    Name   Age  City  Score
1  Sara  30.0  Alex   92.0
4  John  28.0  Alex   85.0

In [16]:
# 8. Add Column
df["Passed"] = df["Score"] >= 75
print("8. After adding 'Passed':\n", df, "\n")

8. After adding 'Passed':
     Name   Age   City  Score  Passed
0    Ali  25.0  Cairo   88.0    True
1   Sara  30.0   Alex   92.0    True
2   Omar  22.0   Giza    NaN   False
3  Laila   NaN  Cairo   70.0   False
4   John  28.0   Alex   85.0    True

In [17]:
# 9. Drop Column
df_dropped = df.drop("City", axis=1)
print("9. After dropping 'City':\n", df_dropped, "\n")

9. After dropping 'City':
     Name   Age  Score  Passed
0    Ali  25.0   88.0    True
1   Sara  30.0   92.0    True
2   Omar  22.0    NaN   False
3  Laila   NaN   70.0   False
4   John  28.0   85.0    True

In [18]:
# 10. Sort by Age
print("10. Sorted by Age:\n", df.sort_values("Age"), "\n")

10. Sorted by Age:
     Name   Age   City  Score  Passed
2   Omar  22.0   Giza    NaN   False
0    Ali  25.0  Cairo   88.0    True
4   John  28.0   Alex   85.0    True
1   Sara  30.0   Alex   92.0    True
3  Laila   NaN  Cairo   70.0   False

In [19]:
# 11. GroupBy
print("11. GroupBy City mean Score:\n", df.groupby("City")["Score"].mean(), "\n")

11. GroupBy City mean Score:
 City
Alex     88.5
Cairo    79.0
Giza      NaN
Name: Score, dtype: float64

In [20]:
# 12. Missing Values
print("12. Missing Values:\n", df.isnull().sum(), "\n")

12. Missing Values:
 Name      0
Age       1
City      0
Score     1
Passed    0
dtype: int64

In [21]:
# 13. Fillna
print("13. Fill NA:\n", df.fillna(0), "\n")

13. Fill NA:
     Name   Age   City  Score  Passed
0    Ali  25.0  Cairo   88.0    True
1   Sara  30.0   Alex   92.0    True
2   Omar  22.0   Giza    0.0   False
3  Laila   0.0  Cairo   70.0   False
4   John  28.0   Alex   85.0    True

In [22]:
# 14. Dropna
print("14. Drop NA:\n", df.dropna(), "\n")

14. Drop NA:
    Name   Age   City  Score  Passed
0   Ali  25.0  Cairo   88.0    True
1  Sara  30.0   Alex   92.0    True
4  John  28.0   Alex   85.0    True

In [23]:
# 15. Apply Function
print("15. Age x2:\n", df["Age"].apply(lambda x: x * 2 if pd.notna(x) else x), "\n")

15. Age x2:
 0    50.0
1    60.0
2    44.0
3     NaN
4    56.0
Name: Age, dtype: float64

In [24]:
# 16. Rename Columns
print("16. Rename columns:\n", df.rename(columns={"Name": "FullName", "Score": "ExamScore"}), "\n")

16. Rename columns:
   FullName   Age   City  ExamScore  Passed
0      Ali  25.0  Cairo       88.0    True
1     Sara  30.0   Alex       92.0    True
2     Omar  22.0   Giza        NaN   False
3    Laila   NaN  Cairo       70.0   False
4     John  28.0   Alex       85.0    True

In [25]:
# 17. Reset Index
print("17. Reset index:\n", df.reset_index(drop=True), "\n")

17. Reset index:
     Name   Age   City  Score  Passed
0    Ali  25.0  Cairo   88.0    True
1   Sara  30.0   Alex   92.0    True
2   Omar  22.0   Giza    NaN   False
3  Laila   NaN  Cairo   70.0   False
4   John  28.0   Alex   85.0    True

In [26]:
# 18. Set Index
print("18. Set index to 'Name':\n", df.set_index("Name"), "\n")

18. Set index to 'Name':
         Age   City  Score  Passed
Name
Ali    25.0  Cairo   88.0    True
Sara   30.0   Alex   92.0    True
Omar   22.0   Giza    NaN   False
Laila   NaN  Cairo   70.0   False
John   28.0   Alex   85.0    True

In [27]:
# 19. Merge
df2 = pd.DataFrame({"Name": ["Ali", "Sara"], "Dept": ["IT", "HR"]})
merged = pd.merge(df[["Name", "Age"]], df2, on="Name", how="left")
print("19. Merge:\n", merged, "\n")

19. Merge:
     Name   Age Dept
0    Ali  25.0   IT
1   Sara  30.0   HR
2   Omar  22.0  NaN
3  Laila   NaN  NaN
4   John  28.0  NaN

In [28]:
# 20. Concat
print("20. Concat first 2 + last 2:\n", pd.concat([df.head(2), df.tail(2)]), "\n")

20. Concat first 2 + last 2:
     Name   Age   City  Score  Passed
0    Ali  25.0  Cairo   88.0    True
1   Sara  30.0   Alex   92.0    True
3  Laila   NaN  Cairo   70.0   False
4   John  28.0   Alex   85.0    True

In [29]:
# 21. Export to CSV
df.to_csv("demo.csv", index=False)
print("21. Exported to demo.csv\n")

21. Exported to demo.csv