# Variables

In [1]:
# Python Variables - Declaration, Naming Rules, and Examples

# 1. Variable Declaration and Assignment
x = 5
name = "Alice"
price = 19.99
is_valid = True

In [2]:
# 2. Print values and types
print("x =", x, "| type:", type(x))
print("name =", name, "| type:", type(name))
print("price =", price, "| type:", type(price))
print("is_valid =", is_valid, "| type:", type(is_valid))

x = 5 | type: <class 'int'>
name = Alice | type: <class 'str'>
price = 19.99 | type: <class 'float'>
is_valid = True | type: <class 'bool'>

In [3]:
# 3. Multiple Assignment
a, b, c = 1, 2, 3
print("a:", a, "b:", b, "c:", c)

a: 1 b: 2 c: 3

In [4]:
# 4. Same value to multiple variables
x = y = z = 100
print("x:", x, "y:", y, "z:", z)

x: 100 y: 100 z: 100

In [7]:
# 5. Variable Naming Rules (examples)
snake_case = "valid"
CamelCase = "valid"
_number = 5           # valid
# 1number = 5         # ❌ Invalid: starts with digit
# class = 10         # ❌ Invalid: "class" is a reserved word
# my name = 10         # ❌ Invalid: "class" is space

In [8]:
# 6. Case Sensitivity
var = 10
Var = 20
print("var:", var)
print("Var:", Var)  # Different variables

var: 10
Var: 20

In [11]:
# 7. Reassigning variables
score = 80
print("Initial score:", score)
score = score + 10
print("Updated score:", score)

Initial score: 80
Updated score: 90

In [12]:
# Advanced Variable Usage in Python

# 1. Swapping values (no temp variable needed)
a, b = 10, 20
print("Before swap:", a, b)
a, b = b, a
print("After swap:", a, b)

Before swap: 10 20
After swap: 20 10

In [13]:
# 2. Unpacking lists/tuples
data = ["Ahmed", 25, "Engineer"]
name, age, job = data
print("Name:", name, "| Age:", age, "| Job:", job)

Name: Ahmed | Age: 25 | Job: Engineer

In [15]:
# 3. Using * to unpack remaining items
numbers = [1, 2, 3, 4, 5]
first, *middle, last = numbers
print("First:", first, "| Middle:", middle, "| Last:", last)

First: 1 | Middle: [2, 3, 4] | Last: 5

In [1]:
# Python Comments - Single-line and Multi-line

# 1. Single-line comment
# This is a comment and will not run
x = 5  # You can also add a comment after code
print("x =", x)  # This prints the value of x

x = 5

In [2]:
# 2. Multi-line comment using triple quotes (not real comment, just string ignored if not used)
"""
This is a multi-line comment style
using triple double quotes.
It's often used for documentation or temporary notes.
"""

'''
You can also use triple single quotes
for multi-line comments or docstrings.
'''

'\nYou can also use triple single quotes\nfor multi-line comments or docstrings.\n'